@model FlowerShop.Models.LoginViewModel
<form asp-action="Login" method="post">
    <input asp-for="Username" class="form-control" />
    <input asp-for="Password" type="password" class="form-control" />
    <button type="submit">Login</button>
</form>